body {
	margin: 0;
	padding: 0;
}

#map {
	height: 100vh;
	width: 100vw;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.5s ease-out;
}

h4,
p {
	margin: 0;
	padding: 0;
}

hr {
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

.weather {
	position: absolute;
	top: 40px;
	right: 10px;
	height: 160px;
	width: 120px;
	background-color: #fdfdfd;
	border: 2px outset #efefef;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	font-family: LeagueGothic-Regular;
}

.weather-top-container {
	height: 65%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.weather-bottom-container {
	flex: 1;
	display: flex;
}

.bottom-left {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.degrees {
	font-size: 3.5rem;
}

.description {
	font-size: 1.1rem;
}

.wind-icon {
	height: 25px;
	width: 25px;
}

.instructions {
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -390px;
	padding: 0 5px;
	width: 390px;
	overflow: auto;
	transition: all 0.5s ease-out;
}

.instructions.open {
	left: 0;
}

.close {
	position: relative;
	left: 365px;
	top: 15px;
	background-color: #808080;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	color: #fff;
	cursor: pointer;
}

@font-face {
	font-family: LeagueGothic-Regular;
	src: url(LeagueGothic-Regular.otf);
}

@font-face {
	font-family: LeagueGothic-Italic;
	src: url(LeagueGothic-Italic.otf);
}
